{% extends 'teams/teams.html' %}
{% load static %}

{% block title %}
    Team 10
{% endblock %}

{% block team %}
    <div class="team_7">
        <div class="team_7_1">
            <div class="shikadai">
                <div>
                    <img src="{% static 'main/pictures/teams/team_10/shikadai.png' %}" alt="">
                </div>
                <div>
                    Shikadai Nara (奈良シカダイ, Nara Shikadai) is a chūnin of Konohagakure, and the heir to the Nara clan. As
                    a member of Team 10 alongside Chōchō Akimichi and Inojin Yamanaka, they form the seventeenth
                    generation of the Ino–Shika–Chō trio. Shikadai takes after his father, Shikamaru, in several ways,
                    possessing a similar relaxed, unenthusiastic personality. He finds participating in activities to be
                    very tiresome and is quick to shirk out of them as seen when he rejected an invitation from Inojin
                    to train after school. Also like his father, he tends to say "complete" when successfully performing
                    a technique or battle plan.
                </div>
            </div>
            <div class="chouchou">
                <div>
                    <img src="{% static 'main/pictures/teams/team_10/chouchou.png' %}" alt="">
                </div>
                <div>
                    Chōchō Akimichi (秋道チョウチョウ, Akimichi Chōchō) is a kunoichi and a member of Konohagakure's Akimichi
                    clan. Together with her teammates Inojin Yamanaka and Shikadai Nara, she forms the seventeenth
                    generation of the Ino–Shika–Chō trio. Like her father, Chōchō never turns down an invitation when it
                    comes to food. This is evident when she skips her training with her fellow Ino–Shika–Chō members in
                    favour of going to eat with her sensei, Anko Mitarashi. Rather than feeling guilty for this, Chōchō
                    displayed indifference to the consequences. In stark contrast to her father, who was always quick to
                    rile when his weight was brought up, she was easily able to brush off being called fat. Her weight,
                    in fact, doesn't seem to bother her at all, rather, Chōchō appears to be quite confident and
                    self-assured — a trait she perhaps inherited from her mother.
                </div>
            </div>
        </div>
        <div class="team_7_2">
            <div class="inojin">
                <div>
                    <img src="{% static 'main/pictures/teams/team_10/inojin.png' %}" alt="">
                </div>
                <div>
                    Inojin Yamanaka (山中いのじん, Yamanaka Inojin) is a genin and a member of Konohagakure's Yamanaka clan.
                    Together with his teammates Chōchō Akimichi and Shikadai Nara, he forms the seventeenth generation
                    of the Ino–Shika–Chō trio. Inojin seems rather obedient and the most reasonable of the new
                    generation of the Ino–Shika–Chō trio, as he, unlike his teammates, insisted on going to training to
                    learn the Ino–Shika–Chō techniques. At the same time, he can be very blunt and indifferent to
                    people, situations and the feelings of those involved even to the point of being condescending. He
                    also seems to have inherited the role of being the most motivated of the trio from his mother, Ino,
                    and his late grandfather Inoichi. Because of his nature, Inojin is a very alert individual with
                    outstanding powers of observation.
                </div>
            </div>
            <div class="moegi">
                <div>
                    <img src="{% static 'main/pictures/teams/team_10/moegi.png' %}" alt="">
                </div>
                <div>
                    Moegi Kazamatsuri (風祭モエギ, Kazamatsuri Moegi) is a kunoichi of Konohagakure. She is quite optimistic,
                    free spirited and very confident. She has been described as being spoiled and determined.[1] In Part
                    II, she has become a lot more like Sakura, shown most prominently when Konohamaru Sarutobi performed
                    his Sexy: Girl on Girl Technique. While Sakura Haruno became infuriated, before she had the chance,
                    Moegi punched him saying that it was ridiculous to create a technique as useless as that, more so
                    than performing it in front of a woman.[4] She frequently has to correct Konohamaru for his
                    perverted behaviour, though she genuinely cares for him. During Pain's assault on Konoha, she showed
                    the utmost bravery, seen when she saved a boy, and even willingly threw herself between him and
                    Pain's summon.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
