{% extends 'teams/teams.html' %}
{% load static %}

{% block title %}
    Team 15
{% endblock %}

{% block team %}
    <div class="team_7">
        <div class="team_7_1">
            <div class="sumire">
                <div>
                    <img src="{% static 'main/pictures/teams/team_15/sumire.png' %}" alt="">
                </div>
                <div>
                    Sumire Kakei (筧スミレ, Kakei Sumire), born Sumire Shigaraki (信楽スミレ, Shigaraki Sumire), is a kunoichi of
                    Konohagakure's Scientific Ninja Weapons Team and a former member of Team 15. Sumire showed genuine
                    concern for her classmates. Sumire was also very respectful and dutiful, and wished to avoid
                    conflict if necessary. Her reason for wanting to become a shinobi was to live up to her father's
                    memory.
                </div>
            </div>
            <div class="wasabi">
                <div>
                    <img src="{% static 'main/pictures/teams/team_15/wasabi.png' %}" alt="">
                </div>
                <div>
                    Wasabi Izuno (伊豆野ワサビ, Izuno Wasabi) is a kunoichi of Konohagakure. She is a member of Team 15.
                    Wasabi has short, spiky brown hair and green, cat-like eyes. Her outfit consists of a light green,
                    sleeveless hoodie shirt, that is cropped with a mesh attire underneath, and puffy green shorts. She
                    also dons a cat tail, attached to her waist by the belt loops of her shorts. After graduation,
                    Wasabi is seen sporting a dark green forehead protector.
                </div>
            </div>
        </div>
        <div class="team_7_2">
            <div class="namida">
                <div>
                    <img src="{% static 'main/pictures/teams/team_15/namida.png' %}" alt="">
                </div>
                <div>
                    Namida Suzumeno (雀乃なみだ, Suzumeno Namida) is a genin of Konohagakure. She is a member of Team 15.
                    Namida is a sweet and friendly girl. Like most the girls she knows, she has an interest in boys and
                    a love of cute things. She is also rather timid and easily scared. As such, she is very reliant on
                    her friends for emotional support. At the same time, she is very loyal to her friends and earnestly
                    works to be of help to them.
                </div>
            </div>
            <div class="hanabi">
                <div>
                    <img src="{% static 'main/pictures/teams/team_15/hanabi.png' %}" alt="">
                </div>
                <div>
                    Hanabi Hyūga (日向ハナビ, Hyūga Hanabi) is a kunoichi from Konohagakure and the heiress of the Hyūga
                    clan. Hanabi seems to be a quiet, polite and respectful girl, although she seems to open up to
                    people a bit easier than her sister. Unlike how Hinata once was, Hanabi is more confident.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
