{% extends 'teams/teams.html' %}
{% load static %}

{% block title %}
    Team 5
{% endblock %}

{% block team %}
    <div class="team_7">
        <div class="team_7_1">
            <div class="iwabe">
                <div>
                    <img src="{% static 'main/pictures/teams/team_5/iwabe.png' %}" alt="">
                </div>
                <div>
                    Iwabee Yuino (結乃イワベエ, Yuino Iwabee) is a Konohagakure genin. While a standout during his entire time
                    enrolled in the Academy, his poor academic test grades lead him to be held back repeatedly. He is a
                    member of Team 5 along with Metal Lee and Denki Kaminarimon. Apparently stemming from his setbacks
                    and misfortune in being held back in the Academy, Iwabee became very distant and blunt. While
                    hardworking, his single-minded nature on becoming a ninja lead him to slack off on his other
                    required studies, which ultimately became the key reason he failed the graduation exams twice.
                    Unable to improve this area of training but unable to accept it, he took his anger out on others.
                    Valuing strength above all else, Iwabee developed a very domineering attitude, openly proclaiming
                    that strong people can do as they please. While raised in an era of peace, he admires the warring
                    era, believing its constant struggles were the key to forging mighty ninja.
                </div>
            </div>
            <div class="denki">
                <div>
                    <img src="{% static 'main/pictures/teams/team_5/denki.png' %}" alt="">
                </div>
                <div>
                    Denki Kaminarimon (雷門デンキ, Kaminarimon Denki) is a Konohagakure genin, and the heir to the
                    Kaminarimon Company. He is a member of Team 5 along with Iwabee Yuino and Metal Lee. Denki is a
                    rather shy boy and he is not able to stand up for himself. Denki says that he wants to stand up to
                    his father so he can study and become what he wants. As shown from being influenced by Nue, Denki
                    subconsciously has a strong hatred of being pushed around, even desiring revenge. Boruto however
                    helped Denki overcome this insecurity, freeing him of Nue's influence. Denki becomes more confident
                    in himself after the event when he joins the Academy. Despite his general lack of self-confidence,
                    he shows a keen business acumen and likewise strong devotion to this family's company continued
                    success.
                </div>
            </div>
        </div>
        <div class="team_7_2">
            <div class="metal">
                <div>
                    <img src="{% static 'main/pictures/teams/team_5/metal.png' %}" alt="">
                </div>
                <div>
                    Metal Lee (メタル・リー, Metaru Rī) is a genin of Konohagakure's Lee clan and a member of Team 5. Metal is
                    a very respectful and honourable young man who tends to talk exclusively without contractions in his
                    words. He apparently gained this nature from his father, Rock Lee, whom he has sincere respect for,
                    and likewise his father's sensei, Might Guy. Also like his father, he is a hot-blooded and dedicated
                    shinobi, exemplified from consistently participating in his father's daily gruesome training regime.
                    At the same time however, he has stage fright, as when too many people watch him, he locks up and
                    becomes unable to move or perform properly. Eventually however, he was able to adjust to his
                    anxiety, no long letting it hinder his performance, despite still being visibly there. Metal also
                    appears to be a well-read individual, as he showed in-depth knowledge of the five current Kage,
                    though ironically, he is unaware of how strong Naruto is.
                </div>
            </div>
            <div class="udon">
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
