{% extends 'teams/teams.html' %}
{% load static %}

{% block title %}
    Team 7
{% endblock %}

{% block team %}

    <div class="team_7">
        <div class="team_7_1">
            <div class="boruto">
                <div>
                    <img src="{% static 'main/pictures/teams/team_7/boruto.png' %}" alt="">
                </div>
                <div>
                    Boruto Uzumaki (うずまきボルト, Uzumaki Boruto) is a shinobi from Konohagakure's Uzumaki clan and a direct
                    descendant of the Hyūga clan through his mother. While initially resentful of his father and his
                    absence since becoming Hokage, Boruto eventually comes to respect his father and duties. Regardless,
                    he vows to instead become a shinobi like his mentor.
                </div>
            </div>
            <div class="sarada">
                <div>
                    <img src="{% static 'main/pictures/teams/team_7/sarada.png' %}" alt="">
                </div>
                <div>
                    Sarada Uchiha (うちはサラダ, Uchiha Sarada) is a kunoichi from Konohagakure's Uchiha clan. Because she
                    grew up without having her father around, Sarada initially struggles to understand who she is or
                    what she's supposed to be. After meeting him with the help of Naruto Uzumaki, Sarada comes to
                    believe that she is defined by the connections she has with others.
                </div>
            </div>
        </div>
        <div class="team_7_2">
            <div class="mitsuki">
                <div>
                    <img src="{% static 'main/pictures/teams/team_7/mitsuki.png' %}" alt="">
                </div>
                <div>
                    Mitsuki (ミツキ, Mitsuki) is a synthetic human that was created as a partial clone of Orochimaru.
                    Immigrating to Konohagakure to confirm whether or not Boruto Uzumaki was his "sun", he became a
                    shinobi and was placed on Team Konohamaru.
                </div>
            </div>
            <div class="konohamaru">
                <div>
                    <img src="{% static 'main/pictures/teams/team_7/konohamaru.png' %}" alt="">
                </div>
                <div>
                    Konohamaru Sarutobi (猿飛木ノ葉丸, Sarutobi Konohamaru) is a shinobi of Konohagakure's Sarutobi clan.
                    After later becoming a jōnin, he becomes the leader of his own genin team. He strives to one day
                    become Hokage after his idol, Naruto Uzumaki.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
